.up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.down {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}