.main {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.title {
  font-weight: bold;
  font-size: 30px;
  padding: 10px 0px;
}

.content {
  text-align: left;
  font-size: 18px;
  padding: 10px 0px;
}