.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.button {
  display: flex;
  flex-direction: row;
}

.title {
  text-align: left;
}